sudo: required
language: generic
services:
    - docker
before_install:
    - docker build -t titoeb/react-test -f ./client/Dockerfile.dev ./client
script:
    - docker run -e CI=true USERNAME/react-test npm test
after_sucess:
    # Build all images that are relevant for production.
    - docker build -t titoeb/fib-client ./client
    - docker build -t titoeb/fib-server ./server
    - docker build -t titoeb/fib-nginx ./nginx
    - docker build -t titoeb/fib-worker ./worker
    # Log-in to docker cli.
    - echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_ID}" --password-stdin
    # Push the images to Dockerhub.
    - docker push titoeb/fib-client 
    - docker push titoeb/fib-server 
    - docker push titoeb/fib-nginx 
    - docker push titoeb/fib-worker
